<header>
  <!-- This reference needs to be added to html page files, inside <head> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <!-- font style tbd -->
  <!-- <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet" /> -->

  <nav class="navbar">
    <span class="title">the cat shop</span>

    <div class="nav-button">
      <i class="fas fa-user"></i>
      <i class="fas fa-heart"></i>
      <i class="fas fa-comment-dots" href="/chats"></i>
      <i class="fas fa-list-alt"></i>
    </div>
  </nav>
</header>
