div .chat-modal {
  background-color: #f0b67f;
}

form .message-form{
  border: solid #67508d 3px;
}

.chatList{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chatList img{
  border: solid #67508d 3px;
}