// See: https://sass-lang.com/
// run "npm run sass-watch" to sync the css files

body {
  background-color: #c7efcf;
  h1 {
    color: #d6d1b1;
  }
}

.navbar {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #f0b67f;
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
  background-color: #eef5db;
  top: 0;

  .title {
    padding-left: 2em;
    cursor: pointer;
  }

  .nav-button {
    padding-right: 2em;
    color: #f0b67f;
    i {
      padding-left: 0.2em;
    }
    i:hover {
      color: #fe5f55;
    }
  }
}
