// See: https://sass-lang.com/
// run "npm run sass-watch" to sync the css files

body {
  background-color: #C7EFCF;
  h1 {
    color: #d6d1b1;
  }
}

.navbar {
  height: 100px;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  color: #F0B67F;
  font-family:'Open Sans', sans-serif;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
  background-color: #EEF5DB;
  top: 0;

  .title {
    padding-left: 2em;
  }

  .nav-button {
    padding-right: 2em;
    color: #F0B67F;
    i {
      padding-left: 0.2em;
    }
    i:hover {
      color: #fe5f55;
    }
  }

}