/* media queries for tablet styles */
@media only screen and (min-width: 700px) {
  #main-content {
    margin-left: 15%;
    margin-right: 15%;
  }
  #main-content img {
    position: center;
  }
  /* flex container */
  .productList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  article .chatList {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
 
}

/* media queries for desktop styles */
@media only screen and (min-width: 1024px) {

  #main-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  #main-content img {
    position: center;
  }
}
