body {
  background-color: #e7c7aa;
}

#main-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-content {
  padding-left: 2em;
  padding-right: 2em;
}

div h1 {
  color: #67508d;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.productList, .chatList {
  background-color: #e7c7aa;
  display: flex;
  flex-direction: column;
}

.navbar .nav-button {
  display: flex;
  align-items: flex-start;
}

.navbar .nav-button i {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.product-card img, .chat-card img {
  border-radius: 2%;
  max-width: 100%;
  height: auto;
  margin-bottom: 5em;
}

article .chat-card {
  text-align: center;
  justify-content: center;
  align-items: baseline;
}

// .chat-card img{
//  object-fit: fill;
// }



/* pseudo-styles */
.product-card img:hover, .chat-card img:hover {
  opacity: 0.8;
  transition: opacity, 0.4s, fade-in;
}

.product-modal #fav-modal-button {
  cursor: pointer;
  color: #e4b992;
  &:hover {
    color: #dac3ff;
  }
}
