body {
  background-color: #e7c7aa;
}

#main-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-content {
  padding-left: 2em;
  padding-right: 2em;
}

div h1 {
  color: #67508d;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.productList,
.chatList {
  background-color: #e7c7aa;
  display: flex;
  flex-direction: column;
}

.navbar .nav-button {
  display: flex;
  align-items: flex-start;
}

.navbar .nav-button i {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.product-card img,
.chat-card img {
  border-radius: 2%;
  max-width: 100%;
  height: auto;
  margin-bottom: 5em;
  margin-right: 2em;
  margin-left: 2em;
}

article .chat-card {
  text-align: center;
  justify-content: center;
  align-items: baseline;
}

// search form styles
#new-product-form {
  padding: 1em;
  color: #67508d;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  border: solid 2px rgb(103, 80, 141);
  border-radius: 7px;
}

#new-product-form input {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: block;
}

#new-product-form button {
  background-color: #67508d;
  color: #e7c7aa;
}

/* pseudo-styles */
.product-card img:hover,
.chat-card img:hover {
  opacity: 0.8;
  transition: opacity, 0.4s, fade-in;
}

.product-modal #fav-modal-button {
  cursor: pointer;
  color: #e4b992;
  &:hover {
    color: #dac3ff;
  }
}

.product-card {
  position: relative;
}

.product-card .after {
  position: absolute;
  top: 0;
  left: 5em;
  color: white;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  z-index: 10;
}

div .chat-modal {
  background-color: #f0b67f;
}

form .message-form {
  border: solid #67508d 3px;
}

.chatList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chatList img {
  border: solid #67508d 3px;
}
